
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.fancyflutes.co.uk/wp-content/uploads/2016/03/banner_lounge.jpg');">
  <div class="banner-content">
    <h1>Happy Cocktails</h1>
    <p>Discover, or make your own</p>
  </div>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#random-cocktail" id="surprise">Surprise me</button>
  <div class="modal fade" id="random-cocktail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <% random = @cocktails.sample %>
          <h2>
            <%= random.name %>
          </h2>
          <p>
            <% if random.photo? %>
          <%= cl_image_tag(random.photo.path, width: 250, height: 200, crop: :fit)%>
        <% else %>
          <%= cl_image_tag("qjl8gye81xgimbzekn5n", width: 250, height: 200, crop: :fit) %>
          <% end %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Other cocktail</button>
          <button type="button" class="btn btn-primary">See details</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid">
  <div class="grid-sizer"></div>
    <% @cocktails.each do |cocktail| %>
      <div class="grid-item">
        <% if cocktail.photo? %>
          <%= cl_image_tag(cocktail.photo.path, width: 200, height: 200, crop: :scale)%>
        <% else %>
          <%= cl_image_tag("qjl8gye81xgimbzekn5n", width: 250, height: 200, crop: :fill) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

