<div class="container">
  <h1>
    <%= @cocktail.name %>
  </h1>

  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to "Delete", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>


<p><%= link_to "Back to cocktails", cocktails_path %></p>


</div>
