<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h2>
        Say hi to...
      </h2>
    </div>
  </div>


<h1>
  <%= @cocktail.name %>
</h1>
<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% else %>
  <%= cl_image_tag "qjl8gye81xgimbzekn5n", width: 200, height: 300, crop: :fill %>
<% end %>

  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :photo, as: :attachinary %>
  <% end %>
<ul>
  <% @cocktail.doses.each do |dose|%>
  <li>
    <%= dose.description %> <%= dose.ingredient.name %>
    <%= link_to "Delete", dose_path(dose), method: :delete %>
  </li>
  <% end %>
</ul>


<h3><%= link_to 'Add new dose', "#", id: "more-doses", class: "btn btn-primary" %></h3>
<div id="dose-form" style="display: none;">
<%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
</div>

<p><%= link_to "Back to cocktails", cocktails_path %></p>


</div>
